.resume {
    margin: 0; 
    padding: 100px; 
    text-align: center; 
    background-color: beige; 
    min-height: 100vh; 
   
  }
  
  .job {
    margin-bottom: 20px; 
  }
  
  .job h4 {
    margin-bottom: 5px; 
    font-weight: bold; 
  }
  
  .job p {
    margin-bottom: 10px; 
  }
  
  .job ul {
    margin-top: 10px;
  }
  
  h2 {
    font-weight: bold; 
    text-decoration: underline; 
  }
  
  h4 {
    font-weight: bold; 
  }
  